<!DOCTYPE html>




    <nav class="navbar navbar-light navbar-expand-md d-flex justify-content-center">
        <div class="container-fluid"><a class="navbar-brand" href="#">Shop's Title</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse d-xl-flex justify-content-xl-center"
                id="navcol-1">
                <div class="row d-xl-flex justify-content-xl-center align-items-xl-start padMar" style="width: 85%;">
                    <div class="col padMar">
                        <div class="input-group d-xl-flex justify-content-xl-center align-items-xl-center">
                            <div class="input-group-prepend"></div><input class="form-control d-xl-flex justify-content-xl-start align-items-xl-start autocomplete" type="text" placeholder="O que busca ?" style="width: 70%;">
                            <div class="input-group-append"><button class="btn btn-warning" type="button"><i class="fa fa-search"></i></button></div>
                        </div>
                    </div>
                </div>
                <ul class="nav navbar-nav">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="#"><i class="menuicon fa fa-shopping-cart" ></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link " href="login.php"><i class="menuicon fa fa-user-circle-o"></i></a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link " href="#"><i class="menuicon fa fa-vcard-o"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>


