<h1 class='d-flex justify-content-center h1-promote'> PROMOÇOES DA SEMANA </h1>
<hr class='star-dark '> </hr>
<div class="container p-0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-md-4  cards-struct" data-bs-hover-animate="pulse">
                        <div class="card" style="width: 18rem;" >
                            <img src="assets\img\camisetas\t-shirt 1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Camisa estilo 1</h5>
                                <p class="card-footer">Price tag: $72.00</p>
                                <a data-toggle="modal" data-target="#modal-description-product-1" class="btn btn-warning">Buy now / datails</a>
                                <hr/>
                                <a href="#" class="btn btn-secondary">ADD to cart <i class="menuicon fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- other card banner-->
                    <div class="col-md-4  cards-struct" data-bs-hover-animate="pulse">
                        <div class="card" style="width: 18rem;" >
                            <img src="assets\img\camisetas\t-shirt 2.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Camisa estilo 2</h5>
                                <p class="card-footer">Price tag: $199.00</p>
                                <a href="#" class="btn btn-warning">Buy now / datails</a>
                                <hr/>
                                <a href="#" class="btn btn-secondary">ADD to cart <i class="menuicon fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  cards-struct">
                        <div class="card" style="width: 18rem;" data-bs-hover-animate="pulse">
                            <img src="assets\img\camisetas\t-shirt 3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Camisa estilo 3</h5>
                                <p class="card-footer">Price tag: $129.99</p>
                                <a href="#" class="btn btn-warning">Buy now / datails</a>
                                <hr/>
                                <a href="#" class="btn btn-secondary">ADD to cart <i class="menuicon fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- other carousel -->
            <div class="carousel-item">
                <div class="row">
                    <div class="col-md-4  cards-struct">
                        <div class="card" style="width: 18rem;" data-bs-hover-animate="pulse">
                            <img src="assets\img\camisetas\t-shirt 3.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Camisa estilo 1</h5>
                                <p class="card-footer">Price tag: $99.99</p>
                                <a href="#" class="btn btn-warning">Buy now / datails</a>
                                <hr/>
                                <a href="#" class="btn btn-secondary">ADD to cart <i class="menuicon fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- other card banner-->
                    <div class="col-md-4  cards-struct">
                        <div class="card" style="width: 18rem;" data-bs-hover-animate="pulse">
                            <img src="assets\img\camisetas\t-shirt 4.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Camisa estilo 4</h5>
                                <p class="card-footer">Price tag: $119.99</p>
                                <a href="#" class="btn btn-warning">Buy now / datails</a>
                                <hr/>
                                <a href="#" class="btn btn-secondary">ADD to cart <i class="menuicon fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4  cards-struct">
                        <div class="card" style="width: 18rem;" data-bs-hover-animate="pulse">
                            <img src="assets\img\camisetas\t-shirt 1.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Camisa estilo 4</h5>
                                <p class="card-footer">Price tag: $119.99</p>
                                <a href="#" class="btn btn-warning">Buy now / datails</a>
                                <hr/>
                                <a href="#" class="btn btn-secondary">ADD to cart <i class="menuicon fa fa-shopping-cart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="">
            <a class="setac carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="seta carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="setac carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="seta carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
        </div>
    </div>
</div>

<!-- create a modal when there a click -->

<!-- Modal  -->
<div class="modal fade" id="modal-description-product-1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">T-shirt 1 - Baimless Orange</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img src="assets\img\camisetas\t-shirt 1.png" class="card-img-top" alt="t-shirt orange">
        <div class="card-body">
            <h5 class="card-title">Camisa estilo 2</h5>
            <p class="card-footer">Price tag: $199.00</p>
            <hr/>
            <a href="#" class="btn btn-secondary">ADD to cart <i class="menuicon fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>