
            <!-- modal for register -->
            <div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalScrollableTitle">Registre-se</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="#" method="post">
                            <div class="form-group">
                              <label for="exampleInputEmail1">E-mail</label>
                              <input type="email" class="form-control col-md-10"  id="exampleInputEmail1" aria-describedby="emailHelp">
                              <small id="emailHelp" class="form-text text-muted">Nunca compartilhe seu e-mail com estranhos</small>
                            </div>
                            <div class="form-group d-flex">
                              <label class='col-md-5' for="">Senha</label>
                              <label class='col-md-5' for="">Repita sua senha</label>
                            </div>
                            <div class="form-group d-flex">
                              <input type="password" style='margin-right:1vh;margin-top: -2vh;' placeholder='digite sua senha' class="form-control col-md-5" id="exampleInputPassword1">
                              <input type="password" style='margin-top: -2vh; ' placeholder='confirme sua senha' class="form-control col-md-5" id="exampleInputPassword1">
                            </div>
                            <div class="form-group d-flex">
                              <label class='col-md-5' for="">nome</label>
                              <label class='col-md-5' for="">sobrenome</label>
                            </div>
                            <div class="form-group d-flex">
                              <input type="text" style='margin-right:1vh;margin-top: -2vh;' class="form-control col-md-5" placeholder='digite seu nome' >
                              <input type="text" style='margin-top: -2vh; 'class="form-control col-md-5" placeholder='digite seu sobrenome'>
                            </div>
                            <div class="form-group d-flex">
                              <label class='col-md-5' for="">CPF</label>
                              <label class='col-md-5' for="">Data de nascimento</label>
                            </div>
                            <div class="form-group d-flex">
                              <input type="text" style='margin-right:1vh;margin-top: -2vh;' class="form-control col-md-5" placeholder='CPF' >
                              <input type="text" style='margin-top: -2vh; 'class="form-control col-md-5" placeholder='Data de nascimento'>
                            </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                  <button type="submit" class="btn btn-warning">Registrar</button>
                              </div>
                          </form>
                    </div>
                  </div>
                </div>
              </div>
  